<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <TITLE>AirBnB clone</TITLE>

    <link rel="shortcut icon" href="../static/images/icon.png">

    <link rel="stylesheet" href="../static/styles/4-common.css"/>
    <link rel="stylesheet" href="../static/styles/3-header.css"/>
    <link rel="stylesheet" href="../static/styles/3-footer.css"/>
    <link rel="stylesheet" href="../static/styles/6-filters.css"/>
  </HEAD>
  <BODY>
    <header>
      <div id="header_logo"></div>
    </header>
    <main>
      <div class="container">
        <section class="filters">
          <div class="locations">
        <h3>States</h3>
        <h4>&nbsp;</h4>
        <ul class="popover">
        {% for state in states|sort(attribute="name") %}
                  <li>
                <h2>{{ state.name }}</h2>
          <ul>
                        {% for city in state.cities|sort(attribute="name") %}
              <li>{{ city.name }}</li>
                              {% endfor %}
                    </ul>
                  </li>
              {% endfor %}
        </ul>
        </div>
        <!-- ********************** AMENITIES -->
        <div class="amenities">
        <h3>Amenities</h3>
        <h4>&nbsp;</h4>
        <ul class="popover">
        {% for amenity in amenities|sort(attribute="name") %}
          <li>{{ amenity.name }}</li>
        {% endfor %}
        </ul>
        </div>
        <!-- ********************** SEARCH BUTTON -->
        <button>Search</button>
      </section>
      </div>
    </main>
    <!-- FOOTER -->
    <footer>
      Holberton School
    </footer>
  </BODY>



</HTML>